PatPet.xcodeproj/project.xcworkspace/xcuserdata/
PatPet.xcodeproj/xcuserdata/YLibrarian.xcuserdatad/xcdebugger/
*.nib
*.d
*.o
build/*
build/Debug-iphoneos/PatPet.app/Base.lproj/*
build/PatPet.build/Debug-iphoneos/PatPet.build/dgph
